In [1]:
import MySQLdb
import pandas as pd

db = MySQLdb.connect(host='127.0.0.1', user='dbuser', passwd='20200428', db='fruveg', port=3307,
                     charset='utf8')
cursor = db.cursor()

ModuleNotFoundError: No module named 'MySQLdb'

In [ ]:
!pip install MySQL-python

In [ ]:
sql = """select a.avg_price as 'banana_avg_price', a.trade_amount as 'banana_amount', b.trade_date, 
b.avg_price as 'alternative_avg_price', b.trade_amount as 'alternative_amount'
FROM	trade_raws as a
JOIN	trade_raws as b
ON		(a.market_no = b.market_no) AND (a.trade_date = b.trade_date)
WHERE	(a.item_no = 'A1') AND (b.item_no = 'A2');"""

cursor.execute(sql)
df = pd.read_sql_query(sql, db)
pearsoncorr = df.corr(method='pearson')
print(pearsoncorr)
db.close()